<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Add Company</h1>
<nav th:replace="fragments :: navigation"></nav>
<meta name="viewport" content="width=device-width, initial-scale=1"/>


<form method="post" th:action="@{/pay-up/company/add}" style="width:600px;" th:object="${company}">
    <div class="form-group">
        <label for="name-field"> Company:</label>
        <input class="form-control" id= "name-field" type="text" name="name" th:value="${name}" th:field="*{name}" />
    </div>
    <div class="form-group">
        <label for="email-field">Email:</label>
        <input class="form-control" id="email-field" type="email" name="email" th:value="${email}" th:field="*{email}"/>
    </div>

    <input type="submit" value="Add Company"/>
</form>

<span class="error" th:text="${message}"></span>

</body>
</html>