<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <meta charset="UTF-8"/>

    <title th:text="${title}">Register</title>

</head>

<body class="container">



<h1 th:text="${title}">Register</h1>



<form th: action="@{/register}" th:object="${RegisterForm}" method="post">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" autofocus="autofocus"/>
    </br>
    </br>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" autofocus="autofocus"/>
    </br>
    </br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"/>
    </br>
    </br>
    <lable for="psw">Confirm Password:</lable>
    <input for="psw" id="psw" name="psw"/>
    </br>
    </br>
    <input type="submit" value="Register"/>

</form>



</body>


</html>