<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <meta charset="UTF-8"/>

    <title th:text="${title}">Index</title>

</head>

<body>



<h1 th:text="${title}">Pay Up!</h1>



<h2 th:text="${title}">Welcome to PayUp.  This application is specifically designed to help small business owners quickly

    and easily generate an invoice that can be emailed to their clients.  The email also includes a pay now feature so getting

    paid is convenient.  Please log in or register below for access to the site.</h2>





<a th:href="/register/add"> Register </a><br>

</br>

<a th:hrefhref="@{/login}"> Log In</a>






</body>

</html>