<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Dashboard</h1>

<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link rel="stylesheet" th:href="@{/css/dashboard.css}"/>


<h2>Select a company and services to create an invoice.</h2>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Company</h2>
     <form>
         <h3>
            <a href="/pay-up/company/add"> Add </a>
            <br/>
            <a href="/pay-up/company/remove"> Remove</a>
         </h3>
         <br/>
         <div style="text-align:center"  th:each="company : ${companies}" class="checkbox">
             <input type="checkbox" name="companyIds" th:value="${company.id}" th:id="${company.id}"/>
             <label th:for="${company.id}" th:text="${company.name}"></label>
         </div>
     </form>

    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Service</h2>
        <form>
        <h3>
            <a href="/pay-up/services/add"> Add </a>
            <br/>
            <a href="/pay-up/services/remove"> Remove</a>
        </h3>
            <div style="text-align:center" th:each="services : ${service}" class="checkbox">
                <input type="checkbox" name="servicesIds" th:value="${services.id}" th:id="${services.id}"/>
                <label th:for="${services.id}" th:text="${services.job}"></label>
                <br/>
            </div>
        </form>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>Invoice</h2>
          <form method="post">
         <style>
              table {
              border-collapse: collapse;
              width: 100%;
            }

              th, td {
              padding: 8px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
         </style>
              <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Date</th>
                <th>Service/Description</th>
                <th>Price</th>
            </tr>
        </table>
              </div>
              <h5>NET 30 days.  A finance charge of 1.5% will be added to unpaid balances after 30 days.</h5>
              <br/>
              <input type="submit" value="Submit"/>
              <input type="reset" value="Reset"/>
              <input type="submit" value="Save"/>
           </form>
    </div>

</div>

</body>
</html>
