<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">404</h1>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<h1>The journey of life is filled with many disappointments.....this is one of them.</h1>
<br/>
<h2>The page you were trying to reach:
    <br/>
    1.Does not exist
    <br/>
    2.Is a myth
    <br/>
    3.Transcends all human understanding
    <br/>
    4.Exists, but in a different form
    <br/>
    5.Has evolved to a higher plain of existence
</h2>



<h1> At times like this I suggest you return <a href="/pay-up/dashboard">HOME!</a></h1>

</body>
</html>

