<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <meta charset="UTF-8"/>

    <title th:text="${title}">Log in </title>

</head>

<body>



<h1 th:text="${title}">Log in</h1>



<form method="post">


    Email:<br>

    <input type="text" name="email"/><br>

    <br>

    Username:<br>

    <input type="text" name="username"/><br>

    <br>

    Password:<br>

    <input type="text" name="psw"/><br>

    <br>

    Confirm Password:<br>

    <input type="text" name="psw"/><br>

    <br>

    <input type="submit" value="Sign up"/>

</form>



</body>


</html>
