<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>

    <meta charset="UTF-8"/>

    <title th:text="${title}">Log in </title>

</head>

<body class="container">




    <h1 th:text="${title}">Log in</h1>

    <nav th:replace="fragments :: navigation"></nav>


    <form th: action="/login" th:object="LoginForm" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" autofocus="autofocus"/>
        </br>
        </br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
        </br>
        </br>
        <input type="submit" value="Log In"/>

    </form>

</body>
</html>
