<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Pay-Up! Payments</h1>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<h3>Welcome to the payments page.  Please enter your company email below and click on the invoices tab to see a list of your invoices.
    Please select the invoice you would like to pay and use the PayPal button below to submit payment</h3>

<form method="post" th:action="@{/pay-up/payments}" style="width:600px;"> <!--th:object="${Payments}">-->
    <div class="form-group">
        <label for="email-field"> Company Email:</label>
        <input class="form-control" id= "email-field" type="email" name="email" th:value="${email}"/> <!--th:field="*{money}" />-->
    </div>
    <br/>
    <input type="submit" value="Invoices"/>
</form>
<br/>

<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({
  env: 'sandbox',
  client: {
    sandbox: 'demo_sandbox_client_id'
  },
  payment: function (data, actions) {
    return actions.payment.create({
      transactions: [{
        amount: {
          total: '0.01',
          currency: 'USD'
        }
      }]
    });
  },
  onAuthorize: function (data, actions) {
    return actions.payment.execute()
      .then(function () {
        window.alert('Thank you for your purchase!');
      });
  }
}, '#paypal-button');
</script>




</body>
</html>
